<div class="mb-2">
	@if (!ShowInputControls)
	{
		<button class="btn btn-primary" @onclick="@ShowForm" >Add Crop</button>
	}
	else
	{
		<EditForm Model="Crop" OnValidSubmit="HandleValidSubmit">		
			<div class="HorizontalForm">
				<div class="HorizontalForm-item " id="CenteredItems">				
					<span >					
						<InputText Placeholder="Enter Plot Name" @bind-Value="@Crop.Location" />
					</span>
					</div>
				
				<div class="HorizontalForm-item" id="CenteredItems">
					<InputFile OnChange="@HandleSelected" />
				</div>
				<div class="HorizontalForm-item">
					<button class="btn btn-primary" Type="Submit" >Add</button>
					<button class="btn btn-secondary"  @onclick="@ShowForm" >Cancel</button>
				</div>
			</div>
		</EditForm>
	}
</div>