@inject  PlantManager PlantManager
@inject  SownManager SownManager

<h3>AddSown</h3>

@code {
    [CascadingParameter]
    BlazoredModalInstance ModalInstance { get; set; }

    [Parameter]
    public string CropId {get;set;}

    public SownDto newSown = new();

    public IEnumerable<PlantDto> Plants { get; set; } = new List<PlantDto>();

    protected override Task OnInitializedAsync()
    {       
        _ = LoadPlants();
        return base.OnInitializedAsync();
    }

    public async Task LoadPlants() =>Plants =  await PlantManager.GetAll();    
    
    void Cancel() => ModalInstance.CancelAsync();

    public async Task HandleValidSubmit()
    {
         newSown.CropId = int.Parse(CropId);
        await SownManager.Insert(newSown);   
        await ModalInstance.CloseAsync(ModalResult.Ok("succees"));
    }
}
