<h3>InteractiveImage</h3>

@code {
    //[Parameter]
    //public List<SownDto> SownItems { get; set; }

    //  public string ImgSource { get; set; } = string.Empty;
    //   public async Task FetchPlotImage() =>      
    //        ImgSource = $"https://homeharveststorage.blob.core.windows.net/upload-container/{Crop.PlotImage}";
        
	   ////todo should only be able to be done by clicking on the image
    //    public async Task AddNewSowedItem()
    //    {
    //        //todo:  move to separate component
    //        throw new NotImplementedException();
    //    }

    //    public void PopulateImageWithSowedPins()
    //    {
    //        //todo place interactive pins on the image for each plant sown
    //        throw new NotImplementedException();
    //    }
}
