
    <ModalContent Centered="true">
        <ModalHeader>
            <ModalTitle>Delete Crop @ToRemove ?</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <Text> Performing this action will permentaly remove the crop and associated plants. 
            </Text>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="@Cancel">Cancel</Button>
            <Button Color="Color.Danger" Clicked="@Delete">Confirm</Button>
        </ModalFooter>
    </ModalContent>


@code {
    [Parameter]
    public string ToRemove{ get; set; }

    [Parameter]
    public EventCallback<bool> ConfirmDelete { get; set; }

    private void Cancel() => ConfirmDelete.InvokeAsync(false);  
    private void Delete() => ConfirmDelete.InvokeAsync(true);  
 }
