<h3>AddCrop</h3>

<EditForm Model="@Crop" OnValidSubmit="@HandleValidSubmit">
    <DxTextBox @bind-Text="@Crop.Location" />   
    <FileUpload OnChange="@SetName"/>
    <DxButton SubmitFormOnClick="true" Text="Add"/>
</EditForm>

@code {
    [Parameter]
    public CropDto Crop {get;set;} = new();
    [Parameter]
    public bool isVisible { get; set;}
    [Parameter]
    public EventCallback<bool> onAdd { get; set; }
    [Inject]
    public ICropRepository CropRepository { get; set; }

    protected override Task OnInitializedAsync()
    {
        Crop.Year = DateTime.Now.Year;
        return base.OnInitializedAsync();
    }

    public void SetName(string name) { Crop.PlotImage = name; }
      
    public async Task HandleValidSubmit()
    {
        var success = await CropRepository.Create(Crop);
        await onAdd.InvokeAsync(!success);      
    }
 }