@page "/Crops"

<h3>Crops</h3>
    <AddCrop onAdd="@LoadData" />
    <div class="row">
    @foreach(var crop in CropItems){
       <CropIndexCard Crop="@crop" DeleteCrop="@DeleteCrop"/>
}
</div>
<Modal @ref="RemoveModal"  >
    <RemoveCropModal ToRemove="ToRemove" ConfirmDelete="RemoveCrop"/> 
</Modal>


    

