@page "/Crops"

<h3>Crops</h3>
    <AddCrop onAdd="@LoadData" />
    <div class="row">
    @foreach(var crop in CropItems){
       <CropIndexCard Crop="@crop" onDeleteSuccess="@LoadData"/>
}
</div>


