@page "/"

<h1>Home Harvest</h1>

Tracking for all you home and allotment plant growing

<MatButton Raised=true >Click me</MatButton>
<MatButton Raised=true Class="mdc-theme--secondary-bg" >Click me</MatButton>
