.HorizontalForm {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;   
}

.HorizontalForm-item{
    margin-right: 5px;
}

#CenteredItems{
    display:flex;
    align-items:center; 
}

.OneThirdWidth{
    max-width: 30%;
}

.WrapText{
    word-wrap: break-word;
}

.StartEndAlignedText {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.JustifyContentEnd {
    display: flex; 
    justify-content: flex-end;
    column-gap: 1em;
}

.ContainterWrap {
    display: flex;
    flex-wrap: wrap;
}

